name: Update ics

on:
  push:
  schedule:
    - cron: '32 16 * 10-12 *'

jobs:
  update-ics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set Timezone
        uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Asia/Shanghai"

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Exec with Maven
        run: mvn compile exec:java

      - name: Check ics update
        uses: technote-space/get-diff-action@v6
        with:
          FILES: 'chinese_holidays.ics'

      - name: Commit if ics updated
        if: env.GIT_DIFF
        uses: EndBug/add-and-commit@v7
        with:
          add: 'chinese_holidays.ics'
          default_author: github_actions
          message: '[CI] Update ics automatically'

      - name: Sync to gitee
        uses: wearerequired/git-mirror-action@v1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:chaiyan0216/chinese-holiday.git"
          destination-repo: "git@gitee.com:chaiyan0216/chinese-holiday.git"
